###
# #%L
# IO plugin for Fiji.
# %%
# Copyright (C) 2008 - 2021 Fiji developers.
# %%
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public
# License along with this program.  If not, see
# <http://www.gnu.org/licenses/gpl-3.0.html>.
# #L%
###
# Author: Guy Williams
File>Import, "Analyze...", sc.fiji.io.Analyze_Reader
File>Save As, "Analyze... ", sc.fiji.io.Analyze_Writer

# Author: Roman Grothausmann
File>Save As, "MHD/MHA ...", sc.fiji.io.MetaImage_Writer
File>Save As, "MHD/MHA compressed ...", sc.fiji.io.MetaImage_CWriter
File>Import, "MHD/MHA...", sc.fiji.io.MetaImage_Reader
File>Import, "Koala Binary...", sc.fiji.io.Koala_Bin_Reader

# Author: Stephan Saalfeld
File>Save As, "DF3 ...", sc.fiji.io.Save_DF3
File>Import, "DF3...", sc.fiji.io.Open_DF3

# Author: Stephan Preibisch
File>Import, "FIB-SEM ...", sc.fiji.io.FIBSEM_Reader

# by Albert Cardona:
File>Import, "MRC Leginon ...", sc.fiji.io.Open_MRC_Leginon
File>Import, "PDF ...", sc.fiji.io.PDF_Viewer
File>Import, "Extract Images From PDF...", sc.fiji.io.Extract_Images_From_PDF
File>Import, "DAT EMMENU ...", sc.fiji.io.Open_DAT_EMMENU

# by Greg Jefferis
File>Import, "DM3 Reader...", sc.fiji.io.DM3_Reader
File>Import, "TorstenRaw GZ Reader...", sc.fiji.io.TorstenRaw_GZ_Reader
File>Import, "Nrrd ...", sc.fiji.io.Nrrd_Reader
File>Save As, "Nrrd ... ", sc.fiji.io.Nrrd_Writer

# by Johannes Schindelin
File>Import, "ICO...", sc.fiji.io.ICO_Reader
File>Save As, "ICO ...", sc.fiji.io.ICO_Writer
File>Import, "Icns...", sc.fiji.io.Icns_Reader
File>Save As, "Icns ...", sc.fiji.io.Icns_Writer
File>Import, "SVG...", sc.fiji.io.SVG_Reader
File>Save As, "XPM ...", sc.fiji.io.XPM_Writer
File>Import, "LSS16...", sc.fiji.io.LSS16_Reader
File>Save As, "LSS16 ...", sc.fiji.io.LSS16_Writer

# others:
File>Import, "IPLab Reader...", sc.fiji.io.IPLab_Reader
File>Save As, "PDF ... ", sc.fiji.io.PDF_Writer
File>Import, "Animated Gif...", sc.fiji.io.Animated_Gif_Reader
File>Save As, "Animated Gif ... ", sc.fiji.io.Gif_Stack_Writer
File>Save As, "EPS ...", sc.fiji.io.Export_EPS
